<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Contact Us</h2>
    <p>This is the contact page of the site.</p>
    <h6>Service avaliable on this platform</h6>
    <ul>
        <li>SEO Optimaization</li>
        <li>Web development</li>
        <li>blochain Application</li>
        <li>UX/UI Design</li>
    </ul>
    <a href="/">Home</a>

    
</body>
</html>