<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h2>Form is submitted</h2>

    <p><strong>Name: </strong> <%= name %></p>
    <p><strong>Email: </strong> <%= email %></p>

    <a href="/">Go to Home</a>

    
</body>
</html>